@font-face {
    font-family: SolViolette;
    src: url('./assets/Solix-Light.otf');
}

.container {
    /* d-flex flex-column justify-content-center align-items-center min-vh-100 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html, body {margin: 0; height: 100%; /* overflow: hidden */}

.row {
    margin: 1rem 0;

    &>* {
        margin: 0 1rem; 
    }

    &>button {
        /* width: 15vw; */
        /* height: 15vw; */
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: none;
        background-color: red;
        color: yellow;
        font-family: SolViolette;
        font-size: 4rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: brown;
        }

        &:active {
            background-color: rgb(206, 34, 34);
        }
    }
    
    &>#message {
        /* color: red; */
        font-family: SolViolette;
        font-size: 3rem;
    }
}