@font-face {
    font-family: SolViolette;
    src: url('../assets/Solix-Light.otf');
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-thumb {
    background-color: white;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    width: 5px;
    border-radius: 10px;
    border: 3px solid red;
}

::-webkit-scrollbar-track {
    width: 15px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}

* {
    font-family: SolViolette;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    font-weight: normal;
    background-color: yellow;
    /* background-color: red; */
}

header {
    background-color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &>h1 {
        color: red;
        font-weight: bold;
    }
    &>a {
        position: absolute;
        right: 25px;
        &>img {
            width: 50px;
        }
    }
}


/* #container {
    min-height: 80vh;
    background-color: red;
} */

#content {
    border-bottom: 4px solid red;
}

.menuLink {
    background-color: yellow;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border-top: 4px solid red;
    &>span {
        font-size: 2rem;
        font-weight: bold;
        color: red;
    }
}


.expandable {
    background: yellow;
    overflow: auto;
    overflow-x: hidden;
    color: #000;   
    line-height: 2rem;
    padding: 0 2rem;
    margin: 0 2rem;

    transition: all .5s ease-in-out;
    height: 0;
}

#filters {
    margin-bottom: 2rem;
    &>.filter {
        color: rgb(200, 0, 0);
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid red;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
    }
}

#partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 450px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1300px) {
        grid-template-columns: repeat(4, 1fr);
    }
    grid-template-rows: auto;
    grid-gap: 2rem;

    &>article {
        color: red;
        line-height: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &>a {
            color: red;
        }
    }
}